@import url('https://fonts.googleapis.com/css?family=Crimson+Text');

body
{
    font-family: 'Crimson Text', serif;
    background-color: olivedrab;
}

#title, #description{
    text-align: center;
}

.form-outer{
    width: 70%;
    margin: auto;
}


.labels, .user-input
{
    float: left;
}

.labels{
    text-align: center;
    width: 40%;
}

.user-input{
    width: 60%;
}

#submit{
    margin-top: 10%;
    margin-left: 45%;
}

#comments{
    width: 200px;
    height: 70px;
}