@import url('https://fonts.googleapis.com/css?family=Crimson+Text');

body
{
    font-family: 'Crimson Text', serif;
    background-color: olivedrab;
}

#title{
    text-align: center;
}

.form-outer{
    background-color: white;
    border-radius: 3px;
    width: 70%;
    margin: 0 auto;
    text-align: center;
    border-bottom: 6px solid #4caf50;
    margin-bottom: 50px;
}

.row{
    width: 100%;
}


.label, .user-input
{
    display: inline-block;
    width: 50%;
}

.label{
    text-align: left;
    vertical-align: top;
}

.user-input{
    text-align: right;
    margin-top: -55px; 
}